@model SensitiveWords.Web.Models.SensitiveWord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sensitive Word</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Word)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Word)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
    <a asp-action="Index">Back to List</a>
</div>